version: "3.9"

services:

  postgres:
    image: postgres:15
    container_name: evora_postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: evora_adminer
    restart: always
    ports:
      - "${ADMINER_PORT}:8080"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: evora_backend
    restart: always
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
      - /app/node_modules
    ports:
      - "${BACKEND_PORT}:3000"
    depends_on:
      - postgres

  # frontend:
  #   build:
  #     context: ./frontend
  #     dockerfile: Dockerfile
  #   container_name: evora_frontend
  #   restart: always
  #   ports:
  #     - "${FRONTEND_PORT}:3000"
  #   volumes:
  #     - ./frontend:/app
  #     - /app/node_modules
  #   depends_on:
  #     - backend

volumes:
  pgdata:
